$active-tab-color: #F97316;
$inactive-tab-color: #374151;
$add-new-dish-bg: #fcac73;
$add-new-dist-text: #fff;
$card-bg: #fff;
$card-shadow: #E5E7EB;
$dish-title-color: #4c4c4e;
$dish-price-color: #2c712fd1;
$edit-btn-color: #117a55a9;
$delete-btn-color: #EF4444;
$header-bg: #eae6e6;
$header-title: #494747;